h2 {

	color: darkblue;
	font-size: 20px;
}
.flex
{
	display: flex;
	flex-wrap: wrap;
}
.text-center{
	
	text-align: center;
}
#{

	color: green;
	font-size: 18px;
	font-family: Arial;
}
.red{

	color: red;
}
.columna{

	background: rgb(238, 238, 238);
	border-radius:  5px;
	color: solid #333;
	margin: 0 auto;
	padding: 10;
	box-shadow: 10px 10px 5px #888;
}
.contener{

	margin: 0 auto;
	width: 50%;
}
.precio{

	font-size: 18px;
	color: grey;
}
